<% if logged_in? %>

  <div class='hero-unit'>
  </div>
<% else %>
  <div class='hero-unit'>
    <h1> DailyCoding </h1>
    <p> FavGraphは、ふぁぼを可視化します。</p>
    <a class='btn btn-primary btn-large' href='/login'>Twitterアカウントでログイン</a>
  </div>
<% end %>
