<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=172276919572450";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript">
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div class='hero-unit'>
  <div class='top-box'>
    <h1>
      <span class="signboard">
        DailyCoding
        <p>１日の終わりにコーディングしていきませんか？</p>
      </span>
    </h1>
    <div class='login-buttons'>
      <a class='btn btn-primary btn-large' href=<%= user_omniauth_authorize_path(:twitter) %>>Twitterでログインして参加</a>
    </div>
  </div>
  <div id='share-buttons'>
    <div id='twitter-button'>
      <a href="https://twitter.com/share" class="twitter-share-button twitter-count-horizontal" data-hashtags="daily_coding">ツイート</a>
    </div>
    <div id='hatebu-button'>
      <a href="http://b.hatena.ne.jp/entry/http://daily-coding.herokuapp.com" class="hatena-bookmark-button" data-hatena-bookmark-title="DailyCoding" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
    </div>
    <div class="fb-like" data-href="http://daily-coding.herokuapp.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
    <div id='gplus-button'>
      <g:plusone annotation="inline"></g:plusone>
    </div>
  </div>
</div>
<div class='row'>
  <div class='span4'>
    <h2>このサービスについて</h2>
    <p> プログラミングの上達には日々のコーディングが欠かせません。
    寝る前に少し時間を作って1日1題出されるプロジェクトオイラーの問題を解き、他の人と解答を共有したり，他の人の解答をお気に入りに登録しましょう。
    問題は日替わりです。匿名でも参加できます。</p>
  </div>
  <div class='span4'>
    <h2>出題される問題</h2>
    <%= link_to "プロジェクトオイラー","http://projecteuler.net/" %>とは、
    プログラミングで解く数学の問題集です。DailyCoding では、それらを毎日
    1問ずつ解いていくことで、楽しくプログラミング能力を向上させていくことができます。
  </div>
  <div class='span4'>
    <h2> 今日の問題 </h2>
    <div id='today-problem'>
      <%== @today_problem.content %>
    </div>
  </div>
</div>
