
<% @answers.each do |answer| %>
  <div id='one-program'>
    <div class="author">
      <p><a href="/profile/<%= answer.user.twitter_id %>">@<%= answer.user.login %></a></p>
    </div>
    <div stype='float: right;' class="fav-star">
      <a class='fav-btn' data-answer-id="<%= answer.id %>" href="javascript:void(0);">
        <% if current_user.fav %>
          <img src="/assets/star_full.png">
        <% else %>
          <img src="/assets/star_empty.png">
        <% end %>
      </a>
    </div>
    <div class="gist-part">
      <%== answer.body %>
    </div>
  </div>
<% end %>
