
<% @answers.each do |a| %>
  <div id='one-program'>
    <div class="author">
      <p><a href="/profile/<%= a[:author].twitter_id %>">@<%= a[:author].login %></a></p>
    </div>
    <div stype='float: right;' class="fav-star">
      <a class='fav-btn' data-answer-id="<%= a[:answer].id %>" href="javascript:void(0);">
        <img src="/assets/star_empty.png">
      </a>
    </div>
    <div class="gist-part">
      <%== a[:answer].body %>
    </div>
  </div>
<% end %>
