<ul class="nav nav-pills" id='lang-selector'>
  <li class="active">
    <a href="#" data-href="/answers">ALL</a>
  </li>
  <% @langs.each do |lang| %>
    <li class="active">
      <a href="#" data-href=<%= "/answers/" + lang %>><%= lang %></a>
    </li>
  <% end %>
</ul>

<div id='answers-body'>
  <% @answers.each do |answer| %>
    <div class="gist-part" data-src="<%= answer.url + ".json"%>">
      <%== answer.body %>
    </div>
  <% end %>
</div>
