
<div id='answers-body'>
  <% @answers.each do |a| %>
    <div class="author">
      <p><a href="#">@<%= a[:author].login %></a></p>
    </div>
    <div class="gist-part">
      <%== a[:answer].body %>
    </div>
  <% end %>
</div>
