
<% @my_answers.each do |a| %>
  <div class="author">
    <p><a href="#">@<%= @user.login %></a></p>
  </div>
  <div stype='float: right;' class="fav-star">
    <a class='fav-btn' data-answer-id="<%= a.id %>" href="javascript:void(0);"><img src="/assets/images/star_empty.png"></img></a>
  </div>
  <div class="gist-part">
    <%== a.body %>
  </div>
<% end %>
