div.code {
  clear: both;
  margin: auto;
}

div.meta {
  display: inline;
}

div.author {
  float: left;
  margin-top: 25px;
}

div.answer-destroy {
  float: right;
}

div.gist-part {
  margin: auto;
}

div.notice p {
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}

div.content hr {
  color: black;
  background-color: black;
  border: none;
  height: 0.3mm;
}
