div.code {
  clear: both;
  margin: auto;
}

div.meta {
  display: inline;
}

div.notice p {
  font-size: 16px;
}

div.author {
  float: left;
  margin-top: 25px;
}

div.answer-destroy {
  float: right;
}

div.gist-part {
  margin: auto;
}
