.hero-unit {
  padding-top: 30px;
  padding-bottom: 30px;
  clear: both;
}

.pager li {
  float: left;
}

ul.nav-heading {
  display: block;
  list-style: none;
}

.nav-heading li {
  float: left;
  margin-right: 20px;
}

#author-imgs a {
  float: left;
}

textarea#content {
  width: 800px;
  font-size: 18px;
}

#post-to-twitter-parts {
  display: inline;
  margin-left: 14px;
}

label[for="twitter_post"] {
  display: inline;
}

.countdown h3 {
  text-align: right;
}

#counter {
  font-size: 18px;
  float: right;
  clear: both;
  background-color: #FFF;
  border: none;
}
