div.hero-unit {
  padding-top: 30px;
  padding-bottom: 30px;
}

div#gist-url {
  padding-top: 30px;
  padding-bottom: 80px;
}

input[type="url"] {
  width: 150%;
}

div.url-form input[type="submit"] {
  width: 40%;
}
