// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signboard {line-height: 140% ;}

.lang-btn {
  font-size: 18px;
}

div#gist-url {
  margin: 0 auto;
  clear: both;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: box;
}

form#gist-url-form {
  margin: 0 auto;
  width: 120%;
}

.gist-unit {
  padding: 60px;
  margin-bottom: 30px;
  background-color: #EFE;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
